body,div,ul,li{
    padding:0;
    margin:0;
    color: white;
}

body{
    background-color:#e6e5e5;
    padding:0;
    margin:0;
}

.div1{
    width:100%;
    background-color:#c2c3c6;
    height: 180px;
}
.div2{
    width:120px;
    height:120px;
    margin: 0 auto;
    background: url("../images/circle.gif") no-repeat;
    text-align: center;
}
.div2 p{
    padding-top: 30px;
}

.nav1{
    width:100%;
    height:60px;
    background-color: #626a75;
}
.menu{
    list-style:none;
    width:1300px;
    height:60px;
    margin: 0 auto;

}
li{
    float:left;
    width:90px;
    height:45px;
    text-align:center;
    margin-left:140px;
    margin-top:6px;
    line-height:45px;
    background-color:#66a093;
}

li a{
    color: #fff;
    text-decoration: none;
}
li a:hover{
    color: #080808;
    text-decoration: none;
}
.div3{
    width:120px;
    height:35px;
    background-color: #98b4bf;
    text-align: center;
    padding-top: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

input{
    width: 150px;
    color: black;
}

.bottom {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background: #3d4755;
    position: fixed;
    bottom: 0;
}